@font-face {
  font-family: PixeloidSansBold;
  src: url('PixeloidSansBold.ttf');
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: "PixeloidSansBold", sans-serif;
  background-color: gainsboro;

}


#grid {
  width: 400px;
  height: 400px;
  display: inline-flex;
  background-color: black;
}

.block {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

#playAgain{    
  font-family: inherit;
  height: 45px;
  width: 250px;
  font-size: x-large;
}

@media only screen and (max-width: 950px) {
  #grid {
    width: 380px;
    height: 400px;
    display: inline-flex;
    background-color: black;
  }

  .block {
    box-sizing: border-box;
    width: 19px;
    height: 20px;
  }
}

#content {
  text-align: center;
}

.snakeHeadUp {
  background-size: cover;
  background-image: url("./images/snake-head.png")
}

.snakeHeadDown {
  transform: rotate(180deg);
  background-size: cover;
  background-image: url("./images/snake-head.png")
}

.snakeHeadRight {
  transform: rotate(90deg);
  background-size: cover;
  background-image: url("./images/snake-head.png")
}

.snakeHeadLeft {
  transform: rotate(-90deg);
  background-size: cover;
  background-image: url("./images/snake-head.png")
}

.snakeBodyV {
  transform: rotate(90deg);
  background-size: cover;
  background-image: url("./images/snake-body.png")
}
.snakeBody {
  background-size: cover;
  background-image: url("./images/snake-body.png")
}
.turnUpLeft {
  background-size: cover;
  background-image: url("./images/snake-turn.png")
}
.turnUpRight {
  background-size: cover;
  background-image: url("./images/snake-turn.png")
}
.turnDownRight {
  background-size: cover;
  background-image: url("./images/snake-turn.png")
}
.turnDownLeft {
  background-size: cover;
  background-image: url("./images/snake-turn.png")
}
.turnLeftDown {
  background-size: cover;
  background-image: url("./images/snake-turn.png")
}
.turnLeftUp {
  background-size: cover;
  background-image: url("./images/snake-turn.png")
}
.turnRightUp {
  background-size: cover;
  background-image: url("./images/snake-turn.png")
}
.turnRightDown {
  background-size: cover;
  background-image: url("./images/snake-turn.png")
}

.snakeTailUp {

  background-size: cover;
  background-image: url("./images/snake-tail.png")
}
.snakeTailDown {
  transform: rotate(180deg);
  background-size: cover;
  background-image: url("./images/snake-tail.png")
}
.snakeTailLeft {
  transform: rotate(-90deg);
  background-size: cover;
  background-image: url("./images/snake-tail.png")
}
.snakeTailRight {
  transform: rotate(90deg);
  background-size: cover;
  background-image: url("./images/snake-tail.png")
}

.bite {
  background-size: cover;
  background-image: url("./images/apple.png")
}