@font-face { font-family: PixeloidSansBold; src: url('PixeloidSansBold.ttf'); } 

html, body {margin: 0; height: 100%; overflow: hidden;  font-family: "PixeloidSansBold", sans-serif;
  background-color: gainsboro;

}


#grid {
  width: 400px;
  height: 400px;
  display: inline-flex;
  background-color: black;
}

.block {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 950px) {
  #grid {
    width: 380px;
    height: 400px;
    display: inline-flex;
    background-color: black;
  }
  
  .block {
    box-sizing: border-box;
    width: 19px;
    height: 20px;
  }
}

#content {
  text-align: center;
}

.snakeHeadUp {
  border-top: dashed red;
  background-color: rgb(15, 215, 69);
}
.snakeHeadDown {
  border-bottom: dashed red;
  background-color: rgb(15, 215, 69);
}
.snakeHeadRight {
  border-right: dashed red;
  background-color: rgb(15, 215, 69);
}
.snakeHeadLeft {
  border-left: dashed red;
  background-color: rgb(15, 215, 69);
}
.snakeBody {
  background-color: rgb(15, 215, 69);
}
.snakeTail {
  background-color: rgb(15, 215, 69);
}

.bite {
  background-size: cover;
  background-image: url("./red-apple-svgrepo-com.png")
  
}
